body {
	background-color: hsl(206, 47%, 77%);
	padding-top: 100px;
	margin: 0;
	font-family: 'Roboto Mono', monospace;
	font-size: 16px;
}

.mobile-show {
	display: none;
}

.container {
	display: flex;
}

.window {
	box-shadow: 0 0 10px 0 hsla(0, 0%, 0%, 0.3);
	border-radius: 6px 6px 0 0;
	display: inline-block;
	margin: 0 auto;
}

.titlebar {
	background-color: hsl(0, 0%, 93%);
	height: 44px;
	border-radius: 6px 6px 0 0;
	padding: 10px 16px;
	box-sizing: border-box;
}

.dot {
	width: 12px;
	height: 12px;
	background-color: hsl(0, 0%, 80%);
	display: inline-block;
	border-radius: 50%;
}

.dot.close {
	background-color: hsl(1, 81%, 67%);
}

.dot.minimise {
	background-color: hsl(57, 90%, 62%);
}

.dot.maximise {
	background-color: hsl(98, 46%, 59%);
}

.dot + .dot {
	margin-left: 7px;
}

.editor-tabs {
	display: flex;
	width: 100%;
}

.editor-tab-header {
	background-color: hsl(200, 5%, 24%);
	color: hsl(211, 20%, 72%);
	font-size: 14px;
	display: flex;
	justify-content: space-between;
}

.editor-tab-name {
	background-color: hsl(197, 4%, 31%);
	border-bottom: 3px solid hsl(205, 63%, 49%);
	padding: 5px 10px;
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.editor-first-tab {
	flex: 1;
}

.editor-separate-tabs {
	width: 200px;
	display: flex;
	border-left: 1px solid hsl(0, 0%, 20%);
}

.editor-tab-content {
	border-top: 1px solid hsl(0, 0%, 20%);
	background-color: hsl(0, 0%, 17%);
	color: hsl(211, 20%, 72%);
	display: flex;
	width: 100%;
}

.editor-lines {
	background-color: hsl(210, 4%, 20%);
	width: 40px;
	color: hsl(0, 0%, 33%);
	border-right: 1px solid hsl(0, 0%, 33%);
	padding: 2px 0 5px 5px;
}

.editor-code {
	padding: 2px 0 5px 5px;
}

.rb-nested {
	margin-left: 20px;
}

.rb-variable {
	color: hsl(200, 100%, 35%);
}

.rb-operator {
	color: hsl(27, 60%, 50%);
}

.rb-class {
	color: hsl(6, 69%, 54%);
}

.rb-symbol {
	color: hsl(205, 38%, 59%);
}

.rb-string {
	color: hsl(98, 21%, 44%);
}

.rb-string a {
	text-decoration: none;
	color: hsl(98, 21%, 44%);
}

.rb-string a:hover {
	text-decoration: underline;
}

.rb-bool {
	color: hsl(27, 61%, 50%);
	font-weight: 600;
}

.editor-second-tab {
	border-left: 1px solid hsl(0, 0%, 20%);
	display: flex;
	flex-direction: column;
}

.editor-second-tab .editor-tab-content {
	display: flex;
	align-items: center;
	background-color: hsl(200, 5%, 24%);
	flex: 1;
}

.editor-second-tab img {
	width: 200px;
	height: 200px;
}

@media screen and (max-width: 980px) {
	body {
		font-size: 14px;
	}

	.window {
		margin: 0 5px;
		width: calc(100% - 10px);
		overflow: hidden;
	}

	.titlebar {
		height: 40px;
	}

	.editor-tab-header {
		font-size: 12px;
	}

	.editor-lines {
		width: 25px;
	}

	.editor-code {
		width: calc(100% - 30px);
	}

	.editor-code .rb-line {
		width: calc(100% - 25px);
		overflow-wrap: break-word;
	}
}

@media screen and (max-width: 710px) {
	body {
		padding-top: 5px;
	}

	.editor-tab-header {
		justify-content: normal;
	}

	.editor-tab-name {
		background-color: hsl(200, 5%, 24%);
		border-bottom: 3px solid hsl(200, 5%, 24%);
	}

	.editor-tab-name.active {
		background-color: hsl(197, 4%, 31%);
		border-color: hsl(205, 63%, 49%);
	}

	.editor-tab-name:not(.active):hover {
		background-color: hsl(200, 4%, 16%);
		border-color: hsl(200, 4%, 16%);
	}

	.editor-tab {
		display: none;
	}

	.editor-tab.active {
		display: flex;
	}

	.editor-first-tab, .editor-second-tab {
		width: 100%;
	}

	.editor-second-tab img {
		width: 300px;
		height: 300px;
		margin: 0 auto;
	}

	.editor-second-tab .editor-tab-content {
		position: relative;
	}

	.editor-second-tab .editor-tab-content .easter-egg {
		left: 0;
		right: 0;
	}

	.mobile-show {
		display: block;
	}

	.mobile-hide {
		display: none;
	}
}

.easter-egg {
	display: none;
}

.till-you-dead {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

body.dance .easter-egg {
	display: block;
}

.easter-egg, .easter-egg img {
	position: absolute;
}

.easter-egg .dance {
	left: 0;
	top: 0;
}

.easter-egg .till {
	right: 0;
	top: 0;
}

.easter-egg .you {
	left: 0;
	bottom: 0;
}

.easter-egg .dead {
	right: 0;
	bottom: 0;
}
